# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

db.sqlite3

# Editor directories and files
.idea
.vscode

# Source data files
/data
